= form_for @user do |f|
  -if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  
  #login-box
    %h2 Zarejestruj się
    %br
    %br
    #login-box-name
      = f.label :Użytkownik
    #login-box-field 
      = f.text_field :username ,:class =>"form-login "
      
    #login-box-name
      = f.label :Hasło
    #login-box-field 
      = f.password_field :password ,:class =>"form-login "
    #login-box-name 
      = f.label :Powtórz_hasło
    #login-box-field
      = f.password_field :password_confirmation,:class =>"form-login "
    .action
      = image_submit_tag("login-btn.png")
      
    .field 
    -for role in Role.find(:all) 
    
      = check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)
      = role.name   
      
         
  
   
 


