%h1 Listing pages
%br
%h1.actions
  = link_to 'Back to Courses List', courses_path 
  |
  = link_to 'Back to Lessons List', course_lessons_path
%br
%table
  %tr
    
    %th name
    %th action
   

  - @pages.each do |page|
    %tr

      %td= page.name
      %td.actions
        = link_to 'Show', course_lesson_page_path(@course,@lesson,page)
        |
        = link_to 'Edit', edit_course_lesson_page_path(@course,@lesson,page)
        |
        = link_to 'Destroy', [@course,@lesson,page], :confirm => 'Are you sure?', :method => :delete

%br
%p.actions
  =link_to 'New Page', new_course_lesson_page_path(@course,@lesson) 



