%h1 Lista stron
%br
%h1.actions
  = link_to 'Powrót do listy kursów', courses_path 
  |
  = link_to 'Powrót do listy lekcji', course_lessons_path
%br
%table
  %tr
    
    %th nazwa
    %th akcja
   

  - @pages.each do |page|
    %tr

      %td= page.name
      %td.actions
        = link_to 'Pokaż', course_lesson_page_path(@course,@lesson,page)
        |
        = link_to 'Edytuj', edit_course_lesson_page_path(@course,@lesson,page)
        |
        = link_to 'Usuń', [@course,@lesson,page], :confirm => 'Are you sure?', :method => :delete

%br
%p.actions
  =link_to 'Nowa strona', new_course_lesson_page_path(@course,@lesson) 



