%h1 Lista kursów
%br
%table
  %tr
    %th Nazwa
    %th Akcja
  

  - @courses.each do |course|
    %tr
      %td= course.name
      %td.actions
        = link_to 'Zobacz lekcje', course_lessons_path(course)
        |
        = link_to 'Pokaż', course
        |
        = link_to 'Edytuj', edit_course_path(course)
        |
        = link_to 'Usuń', course, :confirm => 'Are you sure?', :method => :delete

%br
%p.actions
  = link_to 'Nowe kursy', new_course_path



 
