!!!
%html
  %head
    %title Administracja
    = stylesheet_link_tag    "accessible","screen"
    = javascript_include_tag "application.js"
    = javascript_include_tag "http://www.x3dom.org/download/x3dom.js"
    = csrf_meta_tags
  %body
    .two-col
      #header
        #head
          #current_user
            -if current_user 
              Witaj
              = current_user.username 
              |
              = link_to "Wyloguj się", log_out_path 
            -else
              = link_to "Zarejestruj się", new_user_path
     
     
        %ul.button-list
          %li= link_to_unless_current  'Użytkownicy', users_path, :class=>"button" 
          %li= link_to_unless_current  'Produkty', courses_path, :class=>"button" 
          %li= link_to_unless_current  'Zdjęcia', new_course_path, :class=>"button" 
          %li= link_to_unless_current  'Modele 3d', new_course_path, :class=>"button"  
          
      #content
        = yield 
      #footer

