!!!
%html
  %head
    %title Rosomak
    = stylesheet_link_tag    "guest","rvn-gallery","lightbox"
    = javascript_include_tag "http://www.x3dom.org/download/x3dom.js"
    = javascript_include_tag "lightbox","rvn-gallery","application"
    
    = csrf_meta_tags
  %body

    
    .two-col
      #header
        %h1
          =link_to image_tag("english.png"), url_for( :locale => 'en' ) 
          =link_to image_tag("polish.png"), url_for( :locale => 'pl' )
         
        %h1
          -if current_user 
            Welcome : 
            = current_user.username
            |
            = link_to "Log out", log_out_path 
            = flash[:notice] 
          -else
            = link_to "Sign up", new_user_path
         
      
        %ul.button-list
          = render_navigation(:level => 1) 


  
      #content_main
        #sidebar 
          
          = render_navigation(:level => 2..4)                                       
        #content
          %p
          = render_navigation(:renderer => :breadcrumbs, :join_with => ' &raquo; ')
          = yield
      #footer
        %h1 Copyright © 2012 OBRUM
  
      


